{% extends 'layout.html' %}

{% block content %}

    <div class="container">
        <div>
            <a class="btn btn-success" href="/city/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                new city
            </a>
        </div>

        <div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    City list</div>
                <!-- Table -->
                <table class="table table-bordered" >
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Logo</th>
                        <th>Name</th>
                        <th>Account</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.id }}</th>
                        <td>
                            <img src="/media/{{ obj.img }}" style="height: 50px;"></td>
                        <td>{{obj.name}}</td>
                        <td> {{ obj.count }} </td>


                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <ul class="pagination">
        {{ page_string }}
    </ul>
    </div>

{% endblock %}