{% extends 'layout.html' %}

{% block content %}

    <div class="container">
        <div>
            <a class="btn btn-success" href="/depart/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                new department
            </a>
        </div>
        <div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    Mass upload
                </div>
                <div class="panel-body">
                    <form method="post"  enctype="multipart/form-data" action="/depart/multi/">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="file" name="exc">
                        </div>
                        <input type="submit" value="upload" class="btn btn-info" >

                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                department list
            </div>
            <!-- Table -->
            <table class="table table-bordered" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Depart name</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th scope="row">{{ obj.id }}</th>
                        <td>{{ obj.title }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/depart/{{ obj.id }}/edit/">modify</a>
                            <a class="btn btn-danger btn-xs" href="/depart/delete/?nid={{obj.id}}">delete</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <ul class="pagination">
        {{ page_string }}
    </ul>
    </div>

{% endblock %}