{% extends 'layout.html' %}
{% block content %}
    <div class="container">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">DVS-SC Virtual Submission Triage</h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label type="text">Submission UUID</label>
                        <input type="text",  name="SUUID", placeholder="virtual submission"  class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Triage test log</h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label type="text">Remote test log path</label>
                        <input type="text",  name="log_path", placeholder="log full path"  class="form-control">
                    </div>
                    <div class="form-group"> <label type="text">Log File</label>
                        <input type="file",  name="logfile", placeholder="Log"  class="form-control">
                    </div>
                    <div class="form-inline">
                        <div class="form-group"> <label type="text">GPU</label>
                            <input type="text",  name="gpu", placeholder="gpu"  class="form-control">
                            <div class="form-group"> <label type="text">Testsuite</label>
                                <input type="text",  name="testsuite", placeholder="testsuite"  class="form-control">
                                <div class="form-group"> <label type="text">Version</label>
                                    <input type="text",  name="version", placeholder="version"  class="form-control">
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <button type="submit" class="btn btn-primary" >Submit</button>
                    </div>
                </form>
            </div>
        </div>



        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Triage Test result</h3>
            </div>

            <table class="table table-bordered" >
                <thead>
                <tr>
                    <th>UUID</th>
                    <th>Status</th>
                    <th>Download</th>
                    <th>Del</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in uuid_queryset %}
                    <tr>
                        <th scope="row">{{ obj.UUID }}</th>
                        <td>{{ obj.status }}</td>
                        <td>
                            {% if "#" == obj.result_excel %}
                                #
                            {% else %}
                                <a href="/media/{{ obj.result_excel }}">{{ obj.result_excel }}</a></td>
                            {% endif %}
                        <td>
                            <a class="btn btn-danger btn-xs" href="/triage/{{ obj.id }}/uuid_delete/">delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Triage Test result</h3>
            </div>
            <table class="table table-bordered" >
                <thead>
                <tr>
                    <th>Log</th>
                    <th>Status</th>
                    <th>Result link</th>
                    <th>Del</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in logresult_queryset %}
                    <tr>
                        <th scope="row">{{ obj.log_link }}</th>
                        <td>{{ obj.status }}</td>
                        <td>
                            {% if "#" in obj.log_result %}
                                #
                            {% else %}
                                <a href="/media/{{ obj.log_result }}" target="_blank">{{ obj.log_result }}</a>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-danger btn-xs" href="/triage/{{ obj.id }}/log_delete/">delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>





{% endblock %}

