{% extends 'layout.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div>
            <a class="btn btn-success" href="/user/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                new User
            </a>
            <a class="btn btn-success" href="/user/modeform/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                new User Modeform
            </a>
        </div>
        <div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    User list</div>
                <!-- Table -->
                <table class="table table-bordered" >
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>User name</th>
                        <th>Password</th>
                        <th>Age</th>
                        <th>Account</th>
                        <th>Report Time</th>
                        <th>Department</th>
                        <th>Gender</th>
                        <th>Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in queryset %}
                    <tr>

                        <th>{{ obj.id }}</th>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.password }}</td>
                        <td>{{ obj.age }}</td>
                        <td>{{ obj.account }}</td>
                        <td>{{ obj.date_time|date:"Y-m-d" }}</td>

                        <td>{{ obj.depart.title }}</td>
                        <td>{{ obj.get_gender_display }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/user/{{ obj.id }}/edit/">modify</a>
                            <a class="btn btn-danger btn-xs" href="/user/{{ obj.id }}/delete/">delete</a>
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    <ul class="pagination">
        {{ page_string }}
    </ul>


    </div>

{% endblock %}